<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["UserID"] != null && Session["Email"] != null)
                {
                    @Html.ActionLink("Welcome " + Session["Username"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "Color: #FFF;" })
                    }
                else
                {
                    @Html.ActionLink("Christmas Packs Management System", "", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "Color: #FFF;" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["UserID"] != null)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div style="text-align: center; margin-top: 70px;">
            <img src="~/Content/error.png" />
            <h2>Something went wrong... Try to login again</h2>
            <div>@Html.ActionLink("Login Again", "Login", "Users", null, new { @class = "btn btn-success" })</div>


        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>